.content{
  padding:10px;
}


.resultBar{
  background:#808080;
  color:white;
  padding:6px;
  font-weight:bold;
}


.topRow{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
}


.topRow h2{
  margin:0;
  font-size:20px;
}


.topRow input{
  padding:5px;
  width:220px;
}


.list{
  margin-top:10px;
}


.row{

  padding:7px 10px;

  font-size:16px;

  cursor:pointer;

  border-bottom:1px solid #ddd;

  background:#f3f3f3;

}


.row:nth-child(even){

  background:#d8d8d8;

}


.row:hover{

  background:#cfcfcf;

}


.dashes{

  color:#666;

}